#CS430 - In Class Assignment 1

*Gracie Bayer - October 10, 2022*

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('/content/HRDataset_v14.csv')

In [3]:
data.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [5]:
data.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [6]:
data=data.drop(data[['DateofTermination','ManagerID']],axis=1)

In [7]:
data=data.drop(data[['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'PositionID','ManagerName','LastPerformanceReview_Date']],axis=1)

In [8]:
data.columns

Index(['Salary', 'Termd', 'Position', 'State', 'Zip', 'DOB', 'Sex',
       'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'TermReason', 'EmploymentStatus', 'Department',
       'RecruitmentSource', 'PerformanceScore', 'EngagementSurvey',
       'EmpSatisfaction', 'SpecialProjectsCount', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [9]:
data=pd.get_dummies(data[['Salary', 'Termd', 'Position', 'State', 'Zip', 'DOB','Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
                          'DateofHire', 'TermReason', 'EmploymentStatus', 'Department', 'RecruitmentSource', 'PerformanceScore', 'EngagementSurvey', 
                          'EmpSatisfaction', 'SpecialProjectsCount', 'DaysLateLast30', 'Absences']],drop_first=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Columns: 522 entries, Salary to PerformanceScore_PIP
dtypes: float64(1), int64(7), uint8(514)
memory usage: 175.7 KB

##*Determining X and y variables*

In [11]:
X=data.drop('Salary', axis=1)
y=data['Salary']

##*Train Test Split*

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=.20, random_state=42)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X)
X=scaler.transform(X)

In [14]:
from sklearn.linear_model import LinearRegression, SGDRegressor, Ridge
from sklearn.svm import SVR, SVC
from sklearn.tree import DecisionTreeRegressor

#**Randomized Search**

With 1) ***Support Vector Regression***, 2) ***SGD Regression***, 3) ***Linear Regression***, 4) ***Ridge Regression***, and 5) ***Decision Tree Regression***

In [15]:
model_params={
    'SVR': {
        'model': SVR(gamma='auto'),
        'params': {
            'C':[.1,1,10,20,100],
            'kernel':['rbf','linear','poly']
        } 
    },
    'SGD': {
        'model': SGDRegressor(max_iter=1000,tol=1e-3),
        'params': {
            'eta0':[.001,.01,.1,.5,1,10,20,100]
        }
    },
    'Linear_regression':{
        'model': LinearRegression(),
        'params': {
        } 
    },
    'Ridge': {
        'model': Ridge(),
        'params': {
            'alpha': [.05,.01,.1,.5,1,10,100,200],
            'max_iter': [100,500,1000]
        }
    },
    'DecisionTree': {
        'model': DecisionTreeRegressor(),
        'params': {}
    }
              }

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
scores=[]
for model_name, model_parameter in model_params.items():
  clf=RandomizedSearchCV(model_parameter['model'], model_parameter['params'], cv=6, return_train_score=False, n_iter=5)
  clf.fit(X_train, y_train)
  scores.append({
    'model': model_name,
    'best_scores': clf.best_score_,
    'best_params': clf.best_params_
})

In [ ]:
scores

In [ ]:
df=pd.DataFrame(scores,columns=['model','best_scores','best_params'])
df